
<div id="<%= dom_id employee %>">

  <p style="color: white;">
    <strong>Imię:  </strong>
    <%= employee.first_name %>
  </p>

  <p style="color: white;">
    <strong>Nazwisko:</strong>
    <%= employee.last_name %>
  </p>


</div>
