<%= render @department %>

<div>
<%= button_to "Edytuj dział", edit_department_path(@department), method: :get , style: "background-color: #343a40; color: white; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer;"  %> |
 <%= button_to "Wróć do działów", departments_path , method: :get , style: "background-color: #343a40; color: white; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer;" %>

<hr style="margin-top: 1px; margin-bottom: 1px;" />
  <%= button_to "Usuń dzaiał", @department, method: :delete, style: "background-color: #343a40; color: white; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer;" %>
</div>
