<h1 style="text-align:center;color:white;">Witamy w Dziale Pomocy technicznej</h1>
<p style="text-align:center;color:white">W czym możemy ci dzisiaj pomóc?</p>

<%= image_tag("homepage/h.png", width: "100%")%>