<h1 style="color: white;">Zgłoszenia</h1>

<div id="tickets">
  <% @tickets.each do |ticket| %>


  <% if can? :department_id_1, @aktualny %>
   <div class="page-divider"></div>

      <%= render ticket %>

  <% elsif @employee.user == current_user && ticket.employee_id == @employee.id %>
  
    <%= render ticket %>
    <% end %>
  <% end %>
 
</div>

<% if cannot? :department_id_1, @aktualny %>
  <%= link_to "Nowe zgłoszenie", new_ticket_path , class: "btn btn-dark"%>
<% end %>