
<%= render @ticket %>

<div>
<% if can? :department_id_1, @aktualny %>

  <%= button_to "Edytuj zgłoszenie", edit_ticket_path(@ticket) , method: :get , style: "background-color: #343a40; color: white; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer;"%>
<hr style="margin-top: 10px; margin-bottom: 1px;" />

<% end %>
  <%= button_to "Wróć do zgłoszeń", tickets_path , method: :get , style: "background-color: #343a40; color: white; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer;"%>
<hr style="margin-top: 10px; margin-bottom: 1px;" />

  <%= button_to "Usuń zgłoszenie", @ticket, method: :delete, class:"btn btn-dark" %>
</div>
